*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    width: 100%;
    padding: 1rem 5%;
    background:bisque;
    border-bottom: 1px solid white;
    backdrop-filter: blur 15px;
    margin-bottom: Zrem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 1.8rem;
    font-weight: 700;
    color: darkolivegreen;
        letter-spacing: 1px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a{
    position: relative;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color:darkslategray;
    transition: 0.3s;
}

.nav-links li a:hover{
    color: rgb(166, 181, 139);
    
}

h1{
    margin-left: 100px;
}